################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/.vs
/ReactApp1.Server/Classes/Account.cs
/.gitignore
*.db
*.db-wal
*.db-shm
