/* styles.css */
.Page {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.Form {
    text-align: center
}

.floatingPage {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 50px;
    border-radius: 10px;
    width: 25%;
    background-color: #2e2d2d;
}
