/* styles.css */
.Page {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.Form {
    text-align: center
}

.floatingPage {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 50px;
    border-radius: 10px;
    width: 25%;
    background-color: #2e2d2d;
}
#optionsFP {
    margin-left: 20%;
    margin-right: 10%;
    padding: 50px 50px;
    border-radius: 10px;
    width: 70%;
    background-color: #2e2d2d;
    min-height: 800px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    align-content: center;
    width: 25%;
    gap: 2px;
}

.block {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #2e2d2d;
    cursor: pointer;
    text-align: center;
}
