.FormTypeButton {
    margin: 10px 10px;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 35%;
    max-width: 35%;
}

.FormTypeButtonSelected {
    margin: 10px 10px;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    min-width: 35%;
    max-width: 35%;
}

.ZakelijkeHuurdersType {
    padding: 3px 50px;
    background-color: #202020;
    border-radius: 5px;
    max-width: 35%;
    min-width: 35%;

    max-height: 30px;
    min-height: 30px;

    text-align: center;
    margin: auto 5px auto 5px;
}

